/* stylesheet for my Technical Document Project */
/* this is the start of the stylesheet for building a quiz */
@media (prefers-reduced-motion: no-preference) {
    * {
        scroll-behavior: smooth;
    }
}

body {
    min-width: 300px;
    font-family: 'Lucida Sans', 'Open Sans', Arial, sans-serif;
    font-size: 1em;
    color: #020101;
    background-color: #ddd0c8;
}

header {
    font-size: 1.6em;
}

pre {
    background-color: #cab5a8;
}

code {
    font-family : 'Lucida Console', monospace;
    background-color: #cab5a8;
}

nav > p {
    margin-top: -0.2em;
    margin-left: 1.6em;
    font-size: 0.8em;
}

nav > ul > li {
    padding: 0.4em;
    display: block;
    color: #020101;
    border-top: 1px solid #020101;
}

li > a {
    color: inherit;
    text-decoration: none;
}

nav > ul > li:hover {
    background-color: #dfdfe2;
    cursor: pointer;
}

#navbar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 8px 8px 8px;
    border-right: 3px solid #020101;
}

#main-doc {
    margin-left: 310px;
    padding: 20px;
}

.nav-link {}

hr {
    margin-top: 2.2rem;
    margin-bottom: 1.8rem;
}

